<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Login Form</h1>
<br>
<div>
    <form method="post" action="/login">
        <div th:if="${param.error}">
            <div class="ui-icon-alert">
            <span th:text="${message}"></span>
            </div>
        </div>
        <input name="j_username"/>
        <input name="j_password"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>