<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>User Page</h1>

    <span>User Name: </span><span th:text="${user.getUsername()}"></span> <br>
    <span>User Email: </span><span th:text="${user.getEmail()}"></span> <br><br><br>
    <button class="btn btn-outline-primary"><a href="#" th:href="@{/logout}">LOGOUT</a></button>
</div>

</body>
</html>